@font-face {
    font-family: 'GreatVibes';
    font-style: normal;
    font-display: block;
    font-stretch: normal;
    font-weight: 400;
    src: url('./fonts/GreatVibes-Regular.woff2') format('woff2'), url('./fonts/GreatVibes-Regular.woff') format('woff')
}

@font-face {
    font-family: 'MountainsofChristmas';
    font-style: normal;
    font-display: block;
    font-stretch: normal;
    font-weight: 400;
    src: url('./fonts/MountainsofChristmas-Regular.woff2') format('woff2'), url('./fonts/MountainsofChristmas-Regular.woff') format('woff')
}

@font-face {
    font-family: 'Snowberry';
    font-style: normal;
    font-display: block;
    font-stretch: normal;
    font-weight: 400;
    src: url('./fonts/SnowberryRegular.woff2') format('woff2'), url('./fonts/SnowberryRegular.woff') format('woff')
}